
<html>

   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
   <script type='text/javascript' src='dwr/engine.js'></script>
   <script type='text/javascript' src='dwr/util.js'></script>
   <script type='text/javascript' src='dwr/interface/AuthAccessDwr.js'></script>

   <script>
       parent.document.getElementById('headeritem').innerHTML="Administration Menu";
       resizeMenu('winMenu',54);
       showMenu('winMenu');
       parent.document.getElementById('menucancel').style.display='inline';
       parent.document.getElementById('menusubmit').style.display='none';
       parent.document.getElementById('menuother').style.display='none';
       function setAuthValue(parm,value) {
       
          // set value
          AuthAccessDwr.setAuthValue(parm,value,{ async:false } ); 
       
       }
   </script>      
   <body class="bodymenu">

      <table class="natable">
#if ($spath=="XXXXX.am")

#elseif ($spath=="selectformaction.am")

         <script>
             parent.document.getElementById('headeritem').innerHTML=parent.currformdesc + " &nbsp;[" + parent.currformacr + "]";
         </script>      
         <tr>
         <td onclick="hideMenu('winMenu');resizeMenu('winMenu',70);parent.location.href('newformrecord.do?formtypeid=' + parent.currformtypeid + '&dtdefid=' + parent.currdtdefid);showMenu('winMenu');" onMouseOver="this.style.cursor='hand'" class="amenuitem">
            Add New Record
         </td>
         </tr>
         <tr>
         <td onclick="hideMenu('winMenu');resizeMenu('winMenu',70);location.href('editformrecord.do?formtypeid=' + parent.currformtypeid + '&dtdefid=' + parent.currdtdefid);showMenu('winMenu');" onMouseOver="this.style.cursor='hand'" class="amenuitem">
            View/Edit Existing Record
         </td>
         </tr>
         <tr>
         <td onclick="hideMenu('winMenu');resizeMenu('winMenu',70);parent.location.href('edittemprecord.do?formtypeid=' + parent.currformtypeid + '&dtdefid=' + parent.currdtdefid);showMenu('winMenu');" onMouseOver="this.style.cursor='hand'" class="amenuitem">
            Open FORMS Temporary Record
         </td>
         </tr>

#else
         <tr>
         <td onclick="javascript:parent.location.href('updatedatabase.do');" onMouseOver="this.style.cursor='hand'" class="amenuitem">
            Update CSA Database
         </td>
         </tr>
         <tr>
         <td onclick="javascript:parent.location.href('syncformdata.do');" onMouseOver="this.style.cursor='hand'" class="amenuitem">
            Sync Form Data to FORMS SSA
         </td>
         </tr>

#end 
         <tr>
         <td class="natablerow" style="height:100%">
            &nbsp;
         </td>
         </tr>
      </table>
   </body>
#if ($spath.substring(0,9)=="adminmenu")
   <script>parent.document.getElementById('menuback').style.display='inline';</script>
#else
   <script>parent.document.getElementById('menuback').style.display='none';</script>
#end
</html>



