
<html>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
   <script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
   <script type='text/javascript' src='dwr/engine.js'></script>
   <script type='text/javascript' src='dwr/util.js'></script>
   <script type='text/javascript' src='dwr/interface/AuthAccessDwr.js'></script>

   <script>
       parent.document.getElementById('headeritem').innerHTML="Options Menu";
       resizeMenu('winMenu',54);
       showMenu('winMenu');
       parent.document.getElementById('menucancel').style.display='inline';
       parent.document.getElementById('menuback').style.display='none';
       parent.document.getElementById('menusubmit').style.display='none';
       parent.document.getElementById('menuother').style.display='none';

       function modStyle(e) {
          e.style.backgroundColor="#FFCCCC";
       }
       function setAuthValue(parm,value) {
          // set value
          AuthAccessDwr.setAuthValue(parm,value,{ async:false } ); 
          parent.location.reload();
       }
   </script>
   <body class="bodymenu">   
      <table class="natable">
#if ($spath=="selectstudy.om")
         <form method="POST" action="selectstudy.do" name="OptionForm">
         <tr>
         <td class="natablerow">
<span onclick="javascript:document.OptionForm.submit();" id="junk" href="#" class="amenuitem"><input name="TOGGLEARCHIVE" type=checkbox value="1" $auth.getValue("archivecheck") /><input name="ARCHIVEFORM" value="1" type=hidden />&nbsp;&nbsp;Display Archived Studies</span>

         </td>
         </tr>
         </form>
#elseif ($spath=="permsmgt.om")
         <tr><td class="natablerow">
            <table width=100%>
               <tr><td class="amenuitem" width=100%
                       style="padding-top:6px;padding-bottom:6px;font-size:8pt;">
   #foreach( $i in $optionsobject )
            <span style="width:100%" onMouseOver="this.style.cursor='hand'" 
                  onclick="parent.location.replace('permsmgt.do?show=$i.cat')">
               <input type=radio name="rbpmgt" value="1" $i.checked />&nbsp;&nbsp;Show $i.cat permissions 
      #if ($i.cat!="ALL")       
                   only
      #end          
            </span>
   #end 
               </td></tr>
            </table>   
         </td></tr>
#elseif ($spath=="selectform.om")
         <tr><td class="natablerow">
            <table width=100%>
               <tr><td class="amenuitem" width=100%
                       style="padding-top:6px;padding-bottom:6px;font-size:8pt;">
           <small>            
	   <fieldset>
	   <legend> Form Types </legend>
   #foreach( $i in $optionsobject.typelist )
            <span style="width:100%" onMouseOver="this.style.cursor='hand'" 
                  onclick="modStyle(this);window.setTimeout('setAuthValue(\'typeopt\',\'$i\')',1);">
               <input type=radio name="rbpmgt" value="1"
      #if ("$optionsobject.typeopt"=="$i")
                  checked 
      #end          
               />&nbsp;&nbsp;Show $i 
      #if ($i!="ALL")       
               Types Only
      #else          
               Form Types 
      #end          
            </span>
   #end 
	   </fieldset>
           </small>            
               </td></tr>
      <tr>
        <td align=left valign=center class="amenuitem">
           <small>            
	   <fieldset>
	   <legend> Form Versions </legend>
           <nobr>
            <span style="width:100%" onMouseOver="this.style.cursor='hand'" 
               onclick="modStyle(this);window.setTimeout('setAuthValue(\'veropt\',\'REC\')',1);">
               <input type=radio name=VERBUTTON value="REC" 
               #if ("$optionsobject.veropt"=="REC")
               checked
               #end
               title="Show Most Current Versions of Forms Only">
	       Show Most Current Versions of Forms Only
            </span><br>   
            <span style="width:100%" onMouseOver="this.style.cursor='hand'" 
               onclick="modStyle(this);window.setTimeout('setAuthValue(\'veropt\',\'ALL\')',1);">
               <input type=radio name=VERBUTTON value="ALL" 
               #if ("$optionsobject.veropt"=="ALL")
               checked
               #end
               title="Show ALL Form Versions">
	       Show ALL Form Versions
            </span>   
	   </fieldset>
           </small>            
        </td>
      </tr>
      <tr>
        <td align=left valign=center class="amenuitem">
           <small>            
	   <fieldset>
	   <legend> Form Numbers </legend>
           <nobr>
            <span style="width:100%" onMouseOver="this.style.cursor='hand'" 
               onclick="modStyle(this);window.setTimeout('setAuthValue(\'fnumopt\',document.getElementById(\'FNUMBUTTON\').checked)',1);">
               <input type=checkbox id=FNUMBUTTON value="true" 
                  #if ("$optionsobject.fnumopt"=="true")
                   checked
                  #end 
               title="Show Form Numbers">
	       Display Form Numbers (FormNum) 
                  $optionsobject.fnumopt
            </span><br>   
	   </fieldset>
           </small>            
        </td>
      </tr>
   #if ($auth.getValue("showsinstopt")!='N')
      <tr>
        <td align=left valign=center class="amenuitem">
           <small>            
	   <fieldset>
	   <legend> FORMS Installation </legend>
           <nobr>
            <span style="width:100%" onMouseOver="this.style.cursor='hand'" 
               onclick="modStyle(this);window.setTimeout('setAuthValue(\'sinstopt\',document.getElementById(\'SINSTBUTTON\').checked)',1);">
               <input type=checkbox id=SINSTBUTTON value="true" 
                  #if ("$optionsobject.sinstopt"=="true")
                   checked
                  #end 
               title="Show FORMS Installation">
	       Show FORMS Installation (Local/Remote)
                  $optionsobject.sinstopt
            </span><br>   
	   </fieldset>
           </small>            
        </td>
      </tr>
   #end
      <tr>
        <td align=left valign=center class="amenuitem">
	   <small>
	   <fieldset>
	   <legend> Archive Forms (Not in current use) </legend>
            <span style="width:100%" onMouseOver="this.style.cursor='hand'" 
               onclick="modStyle(this);window.setTimeout('setAuthValue(\'archopt\',\'Y\')',1);">
             <input type=radio name=ARCHBUTTON value="Y" 
              #if ("$optionsobject.archopt"=="Y")
              checked
              #end
              title="Show Archived Forms">
	       Show Archived Forms
            </span><br>   
            <span style="width:100%" onMouseOver="this.style.cursor='hand'" 
               onclick="modStyle(this);window.setTimeout('setAuthValue(\'archopt\',\'N\')',1);">
             <input type=radio name=ARCHBUTTON value="N" 
              #if ("$optionsobject.archopt"=="N")
              checked
              #end
              title="Don't Show Archived Forms">
	       Don't Show Archived Forms</nobr>
            </span>   
	   </fieldset>
	   </small>
        </td>
      </tr>
#elseif ($spath=="showformrecords.om")
      <tr>
        <td align=left valign=center class="amenuitem">
           <small>            
	   <fieldset>
	   <legend> Hold Records </legend>
           <nobr>
            <span style="width:100%" onMouseOver="this.style.cursor='hand'" 
               onclick="modStyle(this);window.setTimeout('setAuthValue(\'holdopt\',\'N\')',1);">
               <input type=radio name=HOLDBUTTON value="N" 
               #if ("$optionsobject.holdopt"=="N")
               checked
               #end
               title="DO NOT Show Hold Dataset Records">
	       DO NOT Show Hold Dataset Records
            </span><br>   
            <span style="width:100%" onMouseOver="this.style.cursor='hand'" 
               onclick="modStyle(this);window.setTimeout('setAuthValue(\'holdopt\',\'Y\')',1);">
               <input type=radio name=HOLDBUTTON value="Y" 
               #if ("$optionsobject.holdopt"=="Y")
               checked
               #end
               title="Show Hold Dataset Records">
	       Show Hold Dataset Records
            </span>   
	   </fieldset>
           </small>            
        </td>
      </tr>
      <tr>
        <td align=left valign=center class="amenuitem">
           <small>            
	   <fieldset>
	   <legend> Audit Trail (Deleted/Replaced) Records </legend>
           <nobr>
            <span style="width:100%" onMouseOver="this.style.cursor='hand'" 
               onclick="modStyle(this);window.setTimeout('setAuthValue(\'auditopt\',\'N\')',1);">
               <input type=radio name=AUDITBUTTON value="N" 
               #if ("$optionsobject.auditopt"=="N")
               checked
               #end
               title="DO NOT Show Audit Trail Records">
	       DO NOT Show Audit Trail Records
            </span><br>   
            <span style="width:100%" onMouseOver="this.style.cursor='hand'" 
               onclick="modStyle(this);window.setTimeout('setAuthValue(\'auditopt\',\'Y\')',1);">
               <input type=radio name=AUDITBUTTON value="Y" 
               #if ("$optionsobject.auditopt"=="Y")
               checked
               #end
               title="Show Audit Trail Records">
	       Show Audit Trail Records
            </span>   
	   </fieldset>
           </small>            
        </td>
      </tr>
#elseif ($spath=="edittemprecord.om")
      <tr>
        <td align=left valign=center class="amenuitem">
           <small>            
	   <fieldset>
	   <legend> Prior Sessions </legend>
           <nobr>
            <span style="width:100%" onMouseOver="this.style.cursor='hand'" 
               onclick="modStyle(this);window.setTimeout('setAuthValue(\'trprioropt\',\'N\')',1);">
               <input type=radio name=TRPRIORBUTTON value="N" 
               #if ("$optionsobject.trprioropt"=="N")
               checked
               #end
               title="DO NOT Show Prior Session Records">
	       DO NOT Show Prior Session Records
            </span><br>   
            <span style="width:100%" onMouseOver="this.style.cursor='hand'" 
               onclick="modStyle(this);window.setTimeout('setAuthValue(\'trprioropt\',\'Y\')',1);">
               <input type=radio name=TRPRIORBUTTON value="Y" 
               #if ("$optionsobject.trprioropt"=="Y")
               checked
               #end
               title="Show Prior Session Records">
	       Show Prior Session Records
            </span>   
	   </fieldset>
           </small>            
        </td>
      </tr>
      <tr>
        <td align=left valign=center class="amenuitem">
           <small>            
	   <fieldset>
	   <legend> Interim Records </legend>
           <nobr>
            <span style="width:100%" onMouseOver="this.style.cursor='hand'" 
               onclick="modStyle(this);window.setTimeout('setAuthValue(\'trinterimopt\',\'N\')',1);">
               <input type=radio name=TRINTERIMBUTTON value="N" 
               #if ("$optionsobject.trinterimopt"=="N")
               checked
               #end
               title="DO NOT Show Interim Records">
	       DO NOT Show Interim Records
            </span><br>   
            <span style="width:100%" onMouseOver="this.style.cursor='hand'" 
               onclick="modStyle(this);window.setTimeout('setAuthValue(\'trinterimopt\',\'Y\')',1);">
               <input type=radio name=TRINTERIMBUTTON value="Y" 
               #if ("$optionsobject.trinterimopt"=="Y")
               checked
               #end
               title="Show Interim Records">
	       Show Interim Records
            </span>   
	   </fieldset>
           </small>            
        </td>
      </tr>
#else
            </table>   
         </td></tr>
#end 
      </table>

   </body>
</html>

               <!--
               onclick="modStyle(this);window.setTimeout('setAuthValue(\'fnumopt\',\'" + getFormElementValueById("FNUMBUTTON") + "\')',1);">
               -->
