
#if ($status=='DEFAULT')

<html>
<link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
<link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
<script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
#parse("WinCheck.vm")

<script language="JavaScript">
function ResetScript() {
   if (document.SetupForm.pwreset.checked) {
      alert('\nThis functionality is currently under construction.        \n\n' +
            'Please contact FORMS Administrator for new password.           ');
      document.SetupForm.pwreset.checked=false;
      /*
      var rsConf='\nA temporary password will be sent to your e-mail account          ' +
                 '\non record.\n\n' +
                 'You should receive your temporary password shortly.' +
                 '\n' + document.SetupForm.pwreset.checked;
      if (confirm(rsConf)) {
         if (document.SetupForm.user.value.length>1) {
            document.SetupForm.submit();
         } else {
            document.SetupForm.user.value=prompt("Enter your UserName  ","");
            if (document.SetupForm.user.value=='null') {
               document.SetupForm.user.value='';
            }
            if (document.SetupForm.user.value.length>1) {
               document.SetupForm.submit();
            } else {
               document.SetupForm.pwreset.checked=false;
            } 
         }
      } else {
         document.SetupForm.pwreset.checked=false;
      }
      */
   }
}

function validate() {
   if ((document.SetupForm.url.value.length<1 ||
        document.SetupForm.user.value.length<1 ||
        document.SetupForm.passwd.value.length<1)) {
      alert("You must enter a value for all fields.     ");
      return false;
   }
   showload();
}
function ls() {
   if (document.SetupForm.user.value.length<1) {
      document.SetupForm.user.focus();
   } else {
      document.SetupForm.passwd.focus();
   }
}   
function showload() {
   document.getElementById('mainscreen').style.display='none';
   document.getElementById('loading').style.display='inline';
}
</script>
<HEAD><TITLE>FORMS Client-Side Application</TITLE></HEAD>
<!--
<BODY bgcolor=$bgcolor background="$bgimage" onLoad="ls()" >
-->
<BODY onLoad="ls()" >

<div class=bgclass style="position: absolute;top: 0; left: 0; height: 100%; width: 100%; z-index: 1;" id='loading' style="display:none">

<div class="ui" style="height:auto;">
 <div class="content" style="width:70%;">
  <div class="t"></div>
   <table cellpadding=25>
   <tr>
   <td style="padding-left:60px;padding-right:60px">
   <font color=#002288><h2><center><span ID="loadText">Connecting to Server/Database</span></center></h2>
   </tr>
   </table>
  </div>
 <div class="b" style="width:70%"><div></div></div>
 </div>
</div>
<script>
rollFunc();
</script>
</div>

<div style="position: absolute;top: 0; left: 0; height: 100%; width: 100%; z-index: 0" id='mainscreen' >

   <form method="POST" action="setup.do" name="SetupForm" onsubmit="return validate()">
<div class="ui" style="height:auto">
 <div class="content" style="width:90%;">
  <div class="t"></div>
   <table class=maintable>
     <tr><td style="padding-bottom:12;padding-top:18">
           <center>
           <table border=1 width=80% cellpadding=5 class="labeltable">
              <tr><td style="padding-left:25;padding-right:25;padding-top:10px;padding-bottom:10px">
              <h2 style="color:#AA0000;padding-bottom:10px"><center><nobr>CSA Setup Required!!!</nobr></center></h2>
              <span style="color:002288;font-size:8pt;">
              This FORMS Client-Side Application (CSA) application is not currently linked to a remote FORMS 
              server.  Please supply the URL to a remote FORMS server along with your login credentials
              to begin system setup.  <i>THIS STEP REQUIRES AN INTERNET CONNECTION TO THE REMOTE SERVER.</i>
              <br>
              </span>
           </table>
           <br>
           <table cellpadding=5>
              <tr>
                  <td align=right><b>SSA URL:</b></td>
                  <td><input type="text" name="url" size="70"></td>
                  <td align=right style="visibility:hidden"><b>SSA URL:</b></td>
              </tr>
              <tr>
                  <td align=right><b>UserName:</b></td>
                  <td><input type="text" name="user" size="20"></td>
                  <td align=right style="visibility:hidden"><b>UserName:</b></td>
              </tr>
              <tr>
                  <td align=right><b>Password:</b></td>
                  <td><input type="password" name="passwd" size="20"></td>
                  <td align=right style="visibility:hidden"><b>Password:</b></td>
              </tr>
           </table>
           <br>
           <input type="SUBMIT" name="sbutton" value="Submit" style="padding-left: 15;padding-right: 15" >
           <input type="hidden" name="directive" value="setup">
           </center>
      </td></tr>
   </table>
 </div>
 <div class="b" style="width:90%"><div></div></div>
</div>
   </form>

</div>
</body>
<script>
if (!(navigator.appName.indexOf("Microsoft")>=0)) {
   alert("This application is designed to run on Microsoft Internet Explorer.  \n" +
         "It will likely not function correctly in other browsers, though \n" +
         "it may function when using the Internet Explorer rendering engine. \n\n" +
         "Proceed with caution!");
}
</script>
</html>

#elseif ($status=='THREAD')


   <HTML>
   <link rel="stylesheet" type="text/css" href="CSS/FormsDefault.css" title="Default" />
   <link rel="stylesheet" type="text/css" href="CSS/FormsUI.css" title="UI" />
   <script type='text/javascript' src='JavaScript/FORMSFunctions.js'></script>
   <script type='text/javascript' src='JavaScript/RMSScripts.js'></script>
   
   <script>
      function ls() {
         xhref('thisframe','setupreloader.do');
      }
   </script>    

   <!--
   #parse("WinCheck.vm")
   -->


   <HEAD><TITLE>FORMS Client-Side Application</TITLE></HEAD>
   <BODY bgcolor=$bgcolor background="$bgimage" onload="ls();">

#parse("WinMenu.vm")

<div class="ui">
 <div class="content" style="width:90%;">
  <div class="t"></div>
  <!-- Your content goes here -->

      <table class=maintable>
        <tr valign=top>
        <td class=headerleft>
        #include("CornerImage.vm")
        </td>
        <td class=headercenter>
        <br>
      <H2><nobr>Setup Progress</nobr></H2>
        <p>
        </td>
        <td class=headerright>
        ###parse("ButtonsOALH.vm")
        </td>
        <tr>
        <td height=100% colspan=3 valign=top style="padding-top:0">

     <IFRAME src="HTML/PlaceHolder.html" height=100% width=99% scrolling="auto" class="rowcontent"
       marginheight="0" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0"
       id="thisframe" name="thisframe" style="visibility:hidden" onload="document.getElementById('thisframe').style.visibility='visible';">
     </IFRAME>

        </td>
        </tr>
        <tr>
        <td height=100% colspan=3 valign=top style="padding-top:0" align=center>

           <input type="button" id="okbutn" onclick="location.replace('login.do')" value="OK" style="padding-left:15px;padding-right:15px;visibility:hidden;" />

        </td>
        </tr>
      </table>

 </div>
 <div class="b" style="width:90%"><div></div></div>
</div>

   </BODY>
   </HTML>

#end 


